/* color scheme
navbar button color: green
page background: dark red
heading text color: light blue
paragraph text color: light blue
clickable text color: light blue
clickable text hover color: black
clickable text hover background: none
clickable text hover font size: 120%
image border color: red
header div background color: brown
body div background color: dark red
*/

body {
    background-color: rgb(255, 157, 20);
    color: rgb(63, 176, 211);
    font-family:cambria;
}

p{
    background-color:black;
    text-align: center;
    font-size: 120%
    
}

a {
    color: rgb(63, 176, 211);
    text-decoration: none;
}

a:hover {
  color: black;
  font-size: 120%
}

img {
    border: 10px inset red
}

h1 {
    font-family: 'Kurale', Times;
    padding-left: 23%;
    font-size: 300%
}

h2 {
    font-family: 'Kurale', Times;
    text-align: center;
}

.caption {
    font-size: 75%;
}

p {
    overflow: auto;
    background-color: transparent
}

.navbar {
    background-color: green;
    border-radius: 40px 40px 40px 40px;
    display: inline-block;
    float: right;
    margin: 0 7px 0 0;
    min-width: 8%;
    padding: 14px;
    text-align: center;
    color: black;
    font-size: 135%;
}

.navbar a{
    font-size: 100%;
    color: rgb(63, 176, 211);
}

.pop {
    font-size: 100%
}

.pop img{
    border: 0px inset red;
    background-color: transparent
}

.pop p {
    background-color: transparent
}

.duddy {
    background-color: rgb(63, 176, 211);
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin: 0 7px 0 0;
    min-width: 8%;
    padding: 6px;
    text-align: center;
    color: black;
    font-size: 135%;
}

.header {
    background-color: rgb(141, 87, 12);
    margin: 0 auto 15px auto;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    width: 90%;
}

.body {
    border-width: 2px;
    border-color: purple;
    background-color: rgba(98, 0, 0, 1.0);
    width: 90%;
    margin: 0 auto 15px auto;
    border-radius: 20px 20px 20px 20px;
    padding: 6px;

}

.pad {
    padding: 0px;
    margin: 6px auto auto auto;
    border: 0px inset red
}

.nada {
    
}
